.container {
    height: 100%;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}

.mainCard {
    h2 {
        font-size: 2.4rem;
    }

    :global(.ant-card-body) {
        padding-top: 40px;
    }

}

.vocabSummary {
    text-align: center;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid var(--ant-color-border-secondary);

    >span {
        display: block;
        margin-bottom: 16px;
        font-size: 1.6rem;
    }
}

.button {
    padding: 10px 40px;
    background-color: #00BE1D;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    border: none;

    &:hover {
        opacity: 0.8;
        scale: 1.02;
    }
}

.statsCard {
    :global(.ant-card-body) {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    :global(.ant-statistic-title) {
        font-size: 1.4rem;
        color: var(--ant-color-text-secondary);
    }

    :global(.ant-statistic-content) {
        font-size: 2rem;
    }

    .statisc {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        .statiscItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .statiscItemIcon {
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .statiscItemValue {
                font-size: 4rem;
                font-weight: bold;
                line-height: 1;
            }

            .statiscItemValueRank {
                font-size: 3rem;
                font-weight: bold;
                line-height: 1;
                padding: 5px 0;
            }

            .statiscItemTitle {
                font-size: 1.6rem;
                color: var(--ant-color-text-secondary, #8c8c8c);
            }
        }
    }
}

.rankCard {
    .rankList {
        max-height: 50vh;
        overflow-y: auto;
    }
}

.rankNumber {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--ant-color-text-tertiary);
}



/* XL*/
@media only screen and (max-width: 1599.98px) {}

/* LG*/
@media only screen and (max-width: 1199.98px) {}

/* MD*/
@media only screen and (max-width: 991.98px) {
    .mainCard {
        width: 100vw !important;
        height: calc(100vh - 65px) !important;
        border: none;
        border-radius: 0;

        :global(.ant-card-body) {
            padding-top: 20px;
        }
    }
}

/* SM*/
@media only screen and (max-width: 767.98px) {}

/* XS*/
@media only screen and (max-width: 575.98px) {}