.sidebar {
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 15px;
    position: fixed;
}

.logo {
    padding: 12px 15px;
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--ant-color-primary, #1677ff);
    cursor: pointer;
}

.menuContainer {
    flex-grow: 1;
    list-style: none;
    padding: 10px 0px;
    margin: 0;
}

.menuItem {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    border-radius: 16px;
    text-decoration: none;
    color: var(--ant-color-text, #595959);
    font-weight: 600;
    font-size: 2rem;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    border: 3px solid transparent;

    .icon {
        font-size: 2rem;
        margin-right: 16px;
    }

    &:hover {
        background-color: var(--ant-control-item-bg-hover, #b5d7ff4a);
        border: 3px solid var(--ant-color-primary, #3f96fa);
    }

    &:active {
        background-color: var(--ant-color-primary-bg-hover, #b5d7ff4a);
        color: var(--ant-color-primary, #3f96fa);
        border: 3px solid var(--ant-color-primary, #3f96fa);
    }
}

.active {
    background-color: var(--ant-color-primary-bg-hover, #b5d7ff4a);
    color: var(--ant-color-primary, #3f96fa);
    border: 3px solid var(--ant-color-primary, #3f96fa);
}

.bottomControls {
    padding: 20px 16px 8px 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
    border-top: 1px solid var(--ant-color-border-secondary, #E3F0FF);
}

.logoutIcon {
    color: var(--ant-error-color, #ff4d4f);

    &:hover {
        color: var(--ant-error-color-hover, #ff4d4f);
    }
}


/* XL*/
@media only screen and (max-width: 1599.98px) {}

/* LG*/
@media only screen and (max-width: 1199.98px) {
    .sidebar {
        width: 200px;
        padding: 12px;
    }

    .menuItem {
        padding: 7px 12px;
    }
}

/* MD*/
@media only screen and (max-width: 991.98px) {}

/* SM*/
@media only screen and (max-width: 767.98px) {
    .content {
        padding: 16px;
        padding-bottom: 80px;
    }
}

/* XS*/
@media only screen and (max-width: 575.98px) {}