.question {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .answerInput {
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
    }
}

.fillBlank {
    :global(.ant-input) {
        text-align: center !important;
    }

    .answerInput {
        text-align: center !important;
        font-size: 2rem;
        font-weight: bold;
    }

}

.listening {

    .playButton {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 3rem;
    }

    .choiceButton {
        max-width: 600px;
        display: block;
        margin: 5px auto;
        font-size: 2rem;
    }
}

.multipleChoiceText,
.multipleChoiceImage {

    .choiceCard {
        cursor: pointer;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--ant-border-color, #d9d9d9);
        transition: all 0.3s ease;
        font-size: 2rem;
        font-weight: 600;
        min-height: 150px;
        height: 100%;

        :global(.ant-card-body) {
            padding: 0 !important;
        }

        &:hover {
            border-color: var(--ant-primary-1, #3F96FA);
        }

        .choiceContent {
            text-align: center;
        }

        img {
            width: 300px;
            height: 180px;
            border-radius: 4px;
            object-fit: cover;
        }
    }
}

.translation {
    .sentenceToTranslate {
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--ant-text-color, #2994FF);
    }
}

.arrangeWords {

    .wordTag {
        font-size: 2rem;
        font-weight: bold;
        color: var(--ant-text-color, #000000);
        padding: 5px 10px;
        border: 1px solid var(--ant-border-color, #2994FF);
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}