.categoryCard {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--ant-border-color-split, #f0f0f0);
    transition: all 0.3s ease;
    border-left: 5px solid var(--ant-primary-1, #3F96FA);
    display: flex;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    flex-wrap: none;
    justify-content: left;

    &:hover {
        border-left: 10px solid var(--ant-primary-1, #3F96FA);
        box-shadow: var(--ant-box-shadow-secondary);
        transform: translateY(-5px);
    }

    :global(.ant-card-body) {
        padding: 16px;
    }
}

.categoryImage {
    height: 80px;
    width: 80px;
    object-fit: cover;

    img {
        width: 100%;
        height: 100%;
    }
}

.categoryMeta {
    padding: 10px;
    flex: 1;
    width: calc(100% - 90px);
}

.categoryTitle {
    color: var(--ant-text-color);
    margin-bottom: 4px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categoryDesc {
    width: 100%;
    color: var(--ant-text-color-secondary);
    font-size: 1.4rem;
    margin-bottom: 0 !important;
}