.reviewContainer {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    :global(.ant-card-body) {
        padding: 24px 100px !important;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;

    :global(.ant-progress) {
        flex-grow: 1;
    }
}

.correctDrawer {
    padding: 0px 100px !important;
    background-color: #c8f9c2 !important;
    position: relative;

    .drawerTitle,
    .drawerIcon {
        color: #52c41a !important;
    }

    .drawerTitle {
        font-size: 3rem;
        font-weight: 600;
    }

    .drawerIcon {
        display: inline-block;
        font-size: 3rem;
        margin-right: 1rem;
    }

    .answerCorrect {
        font-size: 2rem;
        color: #52c41a;
    }

    .continueButton {
        position: absolute;
        bottom: 24px;
        background-color: #c8f9c2 !important;
    }
}

.incorrectDrawer {
    padding: 0px 100px !important;
    background-color: #ffbabe !important;
    position: relative;

    .drawerTitle,
    .drawerIcon {
        color: #b41119 !important;
    }

    .drawerTitle {
        font-size: 3rem;
        font-weight: 600;
    }

    .drawerIcon {
        display: inline-block;
        font-size: 3rem;
        margin-right: 1rem;
    }

    .answerCorrect {
        font-size: 2rem;
        color: #b41119;
    }

    .answerImage {
        width: 120px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
    }

    .continueButton {
        position: absolute;
        bottom: 24px;
        background-color: #ffbabe !important;
    }
}


/* XL*/
@media only screen and (max-width: 1599.98px) {}

/* LG*/
@media only screen and (max-width: 1199.98px) {}

/* MD*/
@media only screen and (max-width: 991.98px) {
    .reviewContainer {
        width: 100%;
        min-height: calc(100vh - 65px) !important;
        border: none;
        border-radius: 0 !important;

        :global(.ant-card-body) {
            padding: 24px 50px !important;
        }
    }
}

/* SM*/
@media only screen and (max-width: 767.98px) {
    .reviewContainer {

        :global(.ant-card-body) {
            padding: 10px 10px !important;
        }
    }

    .correctDrawer {
        padding: 0px 10px !important;

        .drawerTitle {
            font-size: 2.5rem;
        }

        .drawerIcon {
            font-size: 2.5rem;
            margin-right: 0.5rem;
        }

        .answerCorrect {
            font-size: 2rem;
        }

        .continueButton {
            bottom: 24px;
        }
    }

    .incorrectDrawer {
        padding: 0px 10px !important;

        .drawerTitle {
            font-size: 2.5rem;
        }

        .drawerIcon {
            font-size: 2.5rem;
            margin-right: 0.5rem;
        }

        .answerCorrect {
            font-size: 2rem;
        }

        .answerImage {
            width: 120px;
            height: 80px;
        }

        .continueButton {
            bottom: 24px;
        }
    }
}

/* XS*/
@media only screen and (max-width: 575.98px) {}