.detailContainer {
    width: 100%;
    height: 100%;
    padding: 24px 150px;
    position: relative;
    margin: 0;

    .backButton {
        margin-bottom: 16px;
        font-weight: 600;
        color: #555;
        position: relative;
        left: -120px;
        top: 7px;
    }
}

.articleImage {
    border-radius: 8px;
    object-fit: cover;
}

.articleAudio {
    width: 50%;
    margin: 10px auto 20px auto;
    display: block;
}

.articleDetail {
    position: relative;
    top: -40px;
}

.articleTitle {
    color: var(--ant-text-color-primary);
    margin-bottom: 8px !important;
    text-align: center;
    margin-top: 10px !important;
}

.categoryTag {
    margin-bottom: 24px;
    font-size: 14px;
}

.articleContent {
    line-height: 1.7;
    font-size: 1.8rem !important;
    color: var(--ant-text-color);
    text-align: justify;

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: var(--ant-text-color-primary);
        margin-top: 1.5em;
        margin-bottom: 0.8em;
        font-weight: 600;
    }

    p {
        margin-bottom: 1em;
    }

    ul,
    ol {
        padding-left: 2em;
        margin-bottom: 1em;
    }

    li {
        margin-bottom: 0.5em;
    }

    strong {
        color: var(--ant-primary-color);
    }

    em {
        font-style: italic;
    }

    a {
        color: var(--ant-link-color);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin: 1em 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1.2em;
        margin-bottom: 0.6em;
        font-weight: 600;
    }

    p {
        line-height: 1.7;
        margin-bottom: 1em;
    }

    a {
        color: #1677ff;
    }

    blockquote {
        border-left: 4px solid #d9d9d9;
        margin-left: 0;
        padding-left: 1em;
        color: rgba(0, 0, 0, 0.65);
        font-style: italic;
    }

    pre {
        background: #0D0D0D;
        color: #FFF;
        font-family: 'JetBrains Mono', monospace;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        white-space: pre-wrap;
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
}


/* XL*/
@media only screen and (max-width: 1599.98px) {}

/* LG*/
@media only screen and (max-width: 1199.98px) {
    .detailContainer {
        padding: 24px 50px;

        .backButton {
            left: -15px;
            top: 0;
        }
    }
}

/* MD*/
@media only screen and (max-width: 991.98px) {
    .detailContainer {
        width: 100vw !important;
        min-height: calc(100vh - 65px) !important;
        border: none;
        border-radius: 0 !important;
    }
}

/* SM*/
@media only screen and (max-width: 767.98px) {
    .detailContainer {
        padding: 24px 0px;


        .backButton {
            left: -15px;
            top: 0;
        }

        .articleTitle {
            font-size: 2.5rem !important;
        }

        .articleAudio {
            width: 80%;
        }

        :global(.ant-card-body) {
            padding: 0 10px !important;
            padding-top: 0 !important;
            margin-top: -24px !important;
        }
    }
}

/* XS*/
@media only screen and (max-width: 575.98px) {}