.layout {
  min-height: 100vh;
}

.sider {
  background: transparent !important;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.08);
  border-right: 1px solid var(--ant-color-border-secondary, #f0f0f0);
}

.content {
  padding: 16px;
  transition: margin-left 0.2s;
  min-height: 100vh;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* XL*/
@media only screen and (max-width: 1599.98px) {}

/* LG*/
@media only screen and (max-width: 1199.98px) {
  .sider {
    width: 250px;
  }
}

/* MD*/
@media only screen and (max-width: 991.98px) {
  .content {
    padding: 0px;
    padding-bottom: 65px;
  }
}

/* SM*/
@media only screen and (max-width: 767.98px) {}

/* XS*/
@media only screen and (max-width: 575.98px) {}